.cable{
    background-color: black;
    width: 20px;
    height:100px;
   
}

.box{
    background-color: rgb(188, 133, 13);
    width: 200px;
    height: 400px;
    
    
    
}

.red{
    background-color: rgb(232, 26, 26);
    
}
.yellow{
    background-color: rgb(245, 245, 11);
}

.green{
    background-color: rgb(106, 207, 106);
}

.light{
    width: 120px;
    height:120px;
    border-radius: 100px;
    margin: 10px;
    
    

    
}